<p id="notice"><%= notice %></p>

<% if @products.size > 0 %>
    <h3>Listing Products</h3>
    <table>
      <thead>
      <tr>
        <th>Code</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Category</th>
        <th>Notes</th>
        <th colspan="2">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @products.each do |product| %>
          <tr>
            <td><%= product.code %></td>
            <td><%= product.brand %></td>
            <td><%= product.model %></td>
            <td><%= product.category %></td>
            <td><%= product.notes %></td>
            <td class="action"><%= link_to 'Show', product %></td>
            <td class="action"><%= link_to 'Edit', edit_product_path(product) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h3>No products in this state.</h3>
<% end %>
<% if @products.size > 0 %>
    <%= link_to "Export to CSV", reviews_path(format: "csv"), class: "btn" %>
<% end %>
<%= link_to 'New Product', new_product_path, class: "btn" %>
<% if request.original_fullpath() == '/products/extracted' %>
    <%= link_to "Transformed", transformed_products_path, class: "btn" %>
    <%= link_to "Full list", products_path, class: "btn" %>
<% elsif request.original_fullpath() == '/products/transformed' %>
    <%= link_to "Extracted", extracted_products_path, class: "btn" %>
    <%= link_to "Full list", products_path, class: "btn" %>
<% elsif request.original_fullpath() == '/products' %>
    <%= link_to "Extracted", extracted_products_path, class: "btn" %>
    <%= link_to "Transformed", transformed_products_path, class: "btn" %>
<% end %>

