<h3>Loading product <%= @product.code %></h3>


<%= form_for @product, :url => product_load_path(@product) do |f| %>

    <%= f.hidden_field :code %>

    <div class="actions">
      <%= f.submit "Load" %>
    </div>
<% end %>

<%= link_to 'Back', products_path, class: "btn" %>